@charset "UTF-8";



body {
    font-family: Arial, Helvetica, sans-serif;
    align-self: center;
}

table {
    width: 400px;
    height: 400px;
    border-collapse: collapse;
    text-align: center;
    
}

tr {
    background-color: gray;
}

td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    vertical-align: top;
}

td.dado {
    background-color: red;
}

td.dedo {
    background-color: green;
}

td.dodo {
    background-color: blue;
}

.num {
    text-align: right;
}